.contactodiv{
    background-color: var(--color-fifth);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contactocampo{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}