
.edudiv{
    background-color: var(--color-fifth);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.educampo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.educacionh1{
    font-size: 54px;
    background-color: var(--color-first);
}
