

.educard{
    background-color: var(--color-first);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 7px;
    margin: 14px;
    max-width: 499px;
    box-shadow: 6px 5px 5px var(--color-sixth);
    border-radius: 7%;
    transition: 0.2s;
    cursor: pointer;

}
.educard:hover{
    background-color: var(--color-thirth);
    transform: rotate(5deg);
}

.edulogo{
    width: 150px;
    object-fit: contain;
    border-radius: 60%;
    margin-top: 10px;
}
.edutext{
    background-color: transparent;
    text-align:center;
   
   
}