.finaldiv{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.finaldivposta{
    width: 100%;
    height :200px;
    background-color: var(--color-thirth);
    border-top: solid var(--color-fourth) 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logoargprog{
    width:200px;
    object-fit: cover;
}
.logofreecode{
    width:200px;
    object-fit: cover;
}

.frasep{
    
}