:root{
  --color-first: #c8f2fd ;
  --color-second: #d5f6ff;
  --color-thirth: #406973 ;
  --color-fourth: #A4BABF ;
  --color-fifth: #D1ECF3;
  --color-sixth:#d9f8ff;
 }

*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  background-color:var(--color-fourth);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
