:root{
  --color-first: #ebe2de ;
  --color-second: #F0EEED;
  --color-thirth: #3799b9 ;
  --color-fifth: #edf0f0;
  --color-sixth:#332C39;
 }

*{
  margin: 0px;
  padding: 0px;
  color:var(--color-sixth);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  background-color:var(--color-fourth);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
