.skillscard{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 278px;
    background-color: var(--color-fifth);
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 5px;
 
    

   
}
.imgskill{
    height: 170px;
    object-fit: contain;
}