.skillscard{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 220px;
    background-color: var(--color-fifth);
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 5px;
    border-radius: 71%;
 
    

   
}
.imgskill{
    height: 120px;
    object-fit: contain;
}