
.skillsdiv{
    background-color: var(--color-second);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.skillscampo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-second);
}
.skillsh1{
    font-size: 54px;
    background-color: var(--color-first);
    width:100%;
}
.skillsub{
    font-size: 42px;
    background-color: var(--color-first);
}